
#posts .notification a:not(.avatar_frame) {
	border-bottom: 0px !important;
}

#header #tabs_outter_container {
	left: 218px !important;
}

#header #tabs_container {
	width: auto-15px !important;
	float: left !important;
	white-space: normal !important;
	overflow: hidden !important;
}

#header #default_tabs span {
	padding-left: 15px;
}

#header #default_tabs span.tab_notice {
	padding-left: 4px;
}

#header #default_tabs span.tab_notice span {
	padding-left: 0px;
	display: block !important;
}

#header .tab #new_post_notice_container {
	top: 0px !important;
	left: 0px !important;
	right: auto !important;
}

#header #inbox_button {
	position: relative !important;
	top: 3px !important;
}

#header #inbox_button:hover {
	top: 0px !important;
}

#content {
	position: relative !important;
	top: -2px !important;
}

span.sub_control.link_arrow {
	visibility: hidden;
}

.mask.bottom {
	height: 18px !important;
}
